@model Web.Models.DataAccessMySqlProvider.DBMoon

@{
    ViewBag.Title = "Просмотр спутника";
    Layout = "_Layout";
}

<h2 align="center">Просмотр спутника</h2>
<h2 align="center">@Model.Name</h2>
<style>
    .mystyle {
        font-size: 20px;
        font-family: "Times new roman";
        font-style: initial;
        text-align: center;
        color: black;
    }
</style>

<ol class="list-group mystyle" align="center">
    <img class="thumbnail" width="1000" height="600" src="GetPlanetImage?id=@Model.Id" />
    <br />
    <b style="font-size: 20px;">Фото</b>
    <br />
    <br />

    @* <li class="list-group-item list-group-item-text mystyle">Galaxy: @Model.Galaxy</li>*@
    <li class="list-group-item list-group-item-text mystyle">Радиус: @Model.Radius</li>
    <li class="list-group-item list-group-item-text mystyle">
        Температура: @Model.Temperature
    </li>
    <li class="list-group-item list-group-item-text mystyle">Дата открытия: @Model.InventingDate</li>
    <li class="list-group-item list-group-item-text mystyle">Среднее расстояние: @Model.MiddleDistanceValue @Model.MiddleDistanceUnit</li>
    <li class="list-group-item list-group-item-text mystyle">Имеет ли атмосферу: @Model.HasAtmosphere</li>
    <li class="list-group-item list-group-item-text mystyle">Планета: @Model.PlanetOwner</li>
</ol>