@model Web.Models.DataAccessMySqlProvider.DBPlanet

@{
    ViewBag.Title = "Просмотр планеты";
    Layout = "_Layout";
}

<h2 align="center">Просмотр планеты</h2>
<h2 align="center">@Model.Name</h2>

<ol class="list-group" align="center" style="background-color: black;">
    <img class="thumbnail" height="600" src="~/Views/GetPlanetImage?id=@Model.Id" /> @*~/Views/GetPlanetImage?id=@Model.Id*@
    <br />
    <b style="font-size: 20px;">Фото</b>
    <br />
    <br />
    <li class="list-group-item list-group-item-text mystyle">Радиус: @Model.Radius</li>
    <li class="list-group-item list-group-item-text mystyle">
        Температура: @Model.Temperature
    </li>
    <li class="list-group-item list-group-item-text mystyle">Дата открытия: @Model.InventingDate</li>
    <li class="list-group-item list-group-item-text mystyle">Среднее расстояние: @Model.MiddleDistanceValue @Model.MiddleDistanceUnit</li>
    <li class="list-group-item list-group-item-text mystyle">Звезда, вокруг которой вращается: @Model.Star</li>
    <li class="list-group-item list-group-item-text mystyle">Тип: @Model.Type</li>
    <li class="list-group-item list-group-item-text mystyle">Имеет ли атмосферу: @Model.HasAtmosphere</li>
    <li class="list-group-item list-group-item-text mystyle">
        Луны:
        <ol>
            @foreach (var planet in Model.Moons)
            {
                <li>
                    <a style="color: black;" href="MoonView?moonId=@planet.Id">@planet.Name;</a>
                </li>
            }
        </ol>
    </li>
</ol>