@using Web.Controllers
@model Web.Models.DataAccessMySqlProvider.DBStar

@{
    ViewBag.Title = "Просмотр звезды";
    Layout = "_Layout";
}

<h2 align="center">Просмотр звезды</h2>
<h2 align="center">@Model.Name</h2>
<style>
    .mystyle {
        font-size: 20px;
        font-family: "Times new roman";
        font-style: initial;
    }
</style>


<div class="mystyle">
    <div class="container">
        <div class="row">
            <div class="col-md-11">
                <img class="thumbnail" width="1000" height="600" src="~/Views/GetImage?id=@Model.Id" />@*~/Views/GetImage?id=@Model.Id*@
                Фото
            </div>
            <div class="col-md-1">
                <a class="btn mystyle btn-default" href="~/Views/DownloadStar?id=@Model.Id">Скачать</a>
                <a class="btn mystyle btn-default" href="~/Views/Print?id=@Model.Id">Скачать Excell</a>
            </div>
        </div>
    </div>
    <hr />
    <br />
    Галактика: @Model.Galaxy
    <br />
    Радиус: @Model.Radius
    <br />
    Температура: @Model.Temperature
    <br />
    Дата открытия: @Model.InventingDate
    <br />
    Среднее расстояние: @Model.MiddleDistanceValue @Model.MiddleDistanceUnit
    <br />
    Планеты:
    <ol>
        @foreach (var planet in Model.Planets)
        {
            <li>
                <a href="~/Views/PlanetView?starId=@Model.Id&planetId=@planet.Id">@planet.Name;</a>
            </li>
        }

    </ol>
</div>