@model Web.Models.DataAccessMySqlProvider.DBMoon
@*<style>
    .mystyle {
        font-size: 20px;
        font-family: "Times new roman";
        font-style: initial;
    }

    input {
        font-size: 20px;
        font-family: "Times new roman";
        font-style: initial;
        color: black;
    }

    select {
        font-size: 20px;
        font-family: "Times new roman";
        font-style: initial;
        color: black;
    }
</style>*@
@{
    Layout = "_Layout";
}

@RenderBody()

    <form onsubmit="on_m_sub()" class="form-group mystyle" id="f" method="post" enctype="multipart/form-data">

        <input type="hidden" value="@Model.Id" name="StId" />
        Фото
        <input type="file" class="btn btn-default btn-block" name="Photo" />
        <hr />

        <div class="st-input">
            <span class="input-lablel">
                Имя:
            </span>
            <input name="Name" type="text" class="input-field" value="@Model.Name" id="n" readonly="readonly" />
        </div>
        <br />
        <div class="st-input">
            <span class="input-lablel">
                Галактика:
            </span>
        <input name="Galaxy" type="text" value="@Model.Galaxy" id="g" class="input-field" readonly="readonly" />
        </div>
        <br />
        <div class="st-input">
            <span class="input-lablel">
                Радиус:
            </span>
            <input name="Radius" type="number" class="input-field" value="@Model.Radius" />
        </div>
        <br />
        <div class="st-input">
            <span class="input-lablel">
                Температура:
            </span>
        <input name="Temperature" type="number" class="input-field" value="@Model.Temperature" />
        </div>
            <br />
        <div class="st-input">
            <span class="input-lablel">
                Дата открытия:
            </span>
        <input name="Date" type="date" class="input-field" value="@Model.InventingDate" />
        </div>
            <br />
        <div class="st-input">
            <span class="input-lablel">
                Планета, вокрун которой вращается:
            </span>
        <input name="Pl" type="text" class="input-field" value="@Model.PlanetOwner" readonly="readonly" />
        </div>
            <br />
        <div class="st-input">
            <span class="input-lablel">
                Среднее расстояние:
            </span>
            <div style="display: flex; flex-direction: row;">
                <input name="Dist" type="number" class="input-field" value="@Model.MiddleDistanceValue"/>
                <select name="Unit" class="input-field">
                    <option>Kilometers</option>
                    <option>LightYears</option>
                    <option>AstronomicUnits</option>
                </select>
            </div>
        </div>
            <br />
            Имеет атмосферу: @Html.CheckBox("atm", Model.HasAtmosphere)@*<input type="checkbox" name="atm" />*@
            <br />
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.PlanetId)
            <input type="submit" />
    </form>