@using Web.Models.DataAccessMySqlProvider
@model DBPlanet

<style>
    .mystyle {
        font-size: 20px;
        font-family: "Times new roman";
        font-style: initial;
    }

    input {
        font-size: 20px;
        font-family: "Times new roman";
        font-style: initial;
        color: black;
    }

    select {
        font-size: 20px;
        font-family: "Times new roman";
        font-style: initial;
        color: black;
    }
</style>

@{
    Layout = "_Layout";
}



@RenderBody()

<form onsubmit="on_pl_sub()" method="post" class="mystyle" id = "f" enctype="multipart/form-data">

    @*<input type="hidden" @*value="@Model.Id" * name="StId" />*@
    Фото
    <input type="file" class="btn btn-default btn-block" style="background-color: black; color: whitesmoke;" name="Photo" />
    <hr />
    Имя: <input name="Name" type="text" value="@Model.Name" id="n" readonly="readonly" />
    <br />
    Галактика: <input name="Galaxy" type="text" value="@Model.Galaxy" id="g" readonly="readonly" />
    <br />
    Радиус: <input name="Radius" type="number" value="@Model.Radius" />
    <br />
    Температура: <input name="Temperature" type="number" value="@Model.Temperature" />
    <br />
    Дата открытия: <input name="Date" type="date" value="@Model.InventingDate" />
    <br />
    Звезда, вокрун которой вращается: <input name="St" type="text" value="@Model.Star" readonly="readonly" />
    <br />
    Среднее расстояние: <input name="Dist" type="number" value="@Model.MiddleDistanceValue" /> <select name="Unit">
        <option>Kilometers</option>
        <option>LightYears</option>
        <option>AstronomicUnits</option>
    </select>
    <br />
    Имеет атмосферу: @Html.CheckBox("atm", false)
    <br />
    Имеет твёрдую поверхность: @Html.CheckBox("type", false)
    <br />
    Спутники:
    <details>
        <ol id="d" class="list-group">
            @foreach (var pl in Model.Moons)
            {
                <li class="list-group-item list-group-item-info">
                    @pl.Name
                </li>
            }
            <li class="list-group-item list-group-item-info">
                <input id="newPlanetName" />
                <label id="err"></label>
                <a class="btn btn-primary" onclick="onpladd('MoonEditor')">Добавить</a>
            </li>
        </ol>
    </details>
    @Html.HiddenFor(m => m.Id)
    <input type="submit" />
</form>