
@model Web.Models.DataAccessMySqlProvider.DBStar
<style>
    /*.mystyle {
        font-size: 20px;
        font-family: "Times new roman";
        font-style: initial;
    }

    input {
        font-size: 20px;
        font-family: "Times new roman";
        font-style: initial;
        color: black;
    }

    select {
        font-size: 20px;
        font-family: "Times new roman";
        font-style: initial;
        color: black;
    }*/

    label {
        font-size: 16px;
        font-family: "Times new roman";
        font-style: initial;
        color: red;
    }
</style>

@{
    Layout = "_Layout";
}

@RenderBody()

<form method="post" class="form-group" id="f" onsubmit="onsub()" method="post" enctype="multipart/form-data">
    Фото
    <input type="file" class="btn btn-default btn-block fc" name="Photo" />
    <hr />
    <div class="st-input">
        <span class="input-lablel">
            Имя:
        </span>
        <input name="Name" type="text" id="n" class="input-field" value="@Model.Name" />
    </div>
    <br />
    <div class="st-input">
        <span class="input-lablel">
            Галактика:
        </span>
        <input name="Galaxy" type="text" class="input-field" id="g" value="@Model.Galaxy" />
    </div>
    <br />
    <div class="st-input">
        <span class="input-lablel">
            Радиус:
        </span>
        <input name="Radius" type="number" class="input-field" value="@Model.Radius" />
    </div>
    <br />
    <div class="st-input">
        <span class="input-lablel">
            Температура:
        </span>
        <input name="Temperature" type="number" class="input-field" value="@Model.Temperature" />
    </div>
    <br />
    <div class="st-input">
        <span class="input-lablel">
            Дата открытия:
        </span>
        <br />
        <input name="Date" type="date" class="input-field" alue="@Model.InventingDate" />
        <br />
    </div>
    <br />
    <div class="st-input">
        <span class="input-lablel">
            Среднее расстояние:
        </span>
        <div style="display: flex; flex-direction: row;">
            <input name="Dist" type="number" class="input-field" value="@Model.MiddleDistanceValue"/>
            <select name="Unit" class="input-field">
                <option>Kilometers</option>
                <option>LightYears</option>
                <option>AstronomicUnits</option>
            </select>
        </div>
    </div>
    <br />
    Планеты:
    <details>
        <ol id="d" class="list-group">
            @foreach (var pl in Model.Planets)
            {
                <li class="list-group-item list-group-item-info">
                    <a href="EditPlanet?id=@pl.Id" target="_blank">@pl.Name</a>@*EditPlanet*@
                </li>
            }
            <li class="list-group-item list-group-item-info">
                <input id="newPlanetName" />
                <label id="err"></label>
                <a class="btn btn-primary" onclick="onpladd();">Добавить</a>
            </li>
        </ol>
    </details>
    @Html.HiddenFor(m => m.Id)
    <input type="submit" />
</form>