@model Web.Models.DataAccessPostgreSqlProvider.DBMoon

@{
    ViewBag.Title = @Model.Name;
    Layout = "_Layout";
}

<h2 align="center">@Model.Name</h2>
<style>
    .mystyle {
        font-size: 20px;
        font-family: "Times new roman";
        font-style: initial;
        text-align: center;
        color: black;
    }
</style>

<ol class="list-group mystyle" align="center">
    <img class="thumbnail" width="1000" height="600" src="GetPlanetImage?id=@Model.Id" />
    <br />
    <b style="font-size: 20px;">Photo</b>
    <br />
    <br />

    <li class="list-group-item list-group-item-text mystyle">Galaxy: @Model.Galaxy</li>
    <li class="list-group-item list-group-item-text mystyle">Radius: @Model.Radius</li>
    <li class="list-group-item list-group-item-text mystyle">
        Temperature: @Model.Temperature
    </li>
    <li class="list-group-item list-group-item-text mystyle">Inventing Date: @Model.InventingDate</li>
    <li class="list-group-item list-group-item-text mystyle">Middle Distance: @Model.MiddleDistanceValue @Model.MiddleDistanceUnit</li>
    <li class="list-group-item list-group-item-text mystyle">Atmosphere: @Model.HasAtmosphere</li>
    <li class="list-group-item list-group-item-text mystyle">PlanetOwner: @Model.PlanetOwner</li>
</ol>