@using Web.Controllers
@model Web.Models.DataAccessPostgreSqlProvider.DBStar

@{
    ViewBag.Title = "Star";
    Layout = "_Layout";
}

<h2 align="center">@Model.Name</h2>
<style>
    .mystyle {
        font-size: 20px;
        font-family: "Times new roman";
        font-style: initial;
        align-content: left;
    }
</style>
<div class="mystyle">
    <img src="GetImage?id=@Model.Id"/>
    Photo
    <hr/>
    <br/>
    Galaxy: @Model.Galaxy
    <br/>
    Radius: @Model.Radius
    <br/>
    Temperature: @Model.Temperature
    <br/>
    Inventing Date: @Model.InventingDate
    <br/>
    Middle Distance: @Model.MiddleDistanceValue @Model.MiddleDistanceUnit
    <br/>
    Planets:
    <table class="table table-bordered table-striped">
        @foreach (var planet in Model.Planets)
        {
            @planet.Name;
            <br/>
        }

    </table>
</div>